body {
  background-color: #DCDCDC;
}
h1 {
  color: #6495ED;
  text-align: center;
}
h3 {
  color: #228B22;
  text-align: center;
}
img {
  display: block;
  margin: auto;
  width: 40%;
}
#first{
  text-align: center
  
}
