body {
  background-color: #DCDCDC;
}
h1 {
  color: #6495ED;
  text-align: center;
}
h3 {
  color: #228B22;
  text-align: center;
}
img {
  display: block;
  margin: auto;
  width: 20%;
  padding: 20px;
}
#first{
  display:block;
  text-align: center;
}

 #third{
  font-size: 120%;
}
.footer {
  color: #8A2BE2;
}
a {
  color: #1E90FF;
}
